КЯР (Барковский)/Лаба 11/Задание 3/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="note">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="head" type="xs:string"/>
 <xs:element name="mods" type="xs:string"/>
 <xs:element name="pros" type="xs:string"/>
 <xs:element name="cons" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>